<div class="panel panel-default col">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="pull-left title">{{ contact?.name }}</h2>
      </div>
    </div>
    <div class="row">
      <div *ngIf="contact?.imageUrl !== ' '" class="col-xs-6 vcenter">
        <img
          src="{{ contact?.imageUrl }}"
          alt="{{ contact?.name }}"
          class="img-responsive"
          style="max-height: 30vh"
        />
      </div>
      <div class="col-xs-6 d-flex vcenter">
        <button class="btn btn-primary mr-half" [routerLink]="['edit']">
          Edit
        </button>
        <button class="btn btn-danger" (click)="onDelete()">Delete</button>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row"></div>
    <div class="row">
      <div class="col-xs-12">
        <div *ngIf="(contact?.group)!.length > 0; else singleContact">
          <span class="title">Contacts in Team:</span>
          <div
            *ngFor="let contact of contact?.group"
            class="list-group-item clearfix"
          >
            <cms-contact-item [contact]="contact"></cms-contact-item>
          </div>
        </div>
        <ng-template #singleContact>
          <p>
            Email:
            <a
              href="mailto:{{ contact?.email }}"
              *ngIf="contact?.email !== ' '"
              >{{ contact?.email }}</a
            >
          </p>
          <p>
            Phone:
            <a
              href="tel:{{
                contact ? contact.phone.replaceAll('-', '') : null
              }}"
              *ngIf="contact?.phone !== ' '"
              >{{ contact?.phone }}</a
            >
          </p>
        </ng-template>
      </div>
    </div>
  </div>
</div>
