.required.ng-invalid {
  border: 1px solid red;
}

.invalid.ng-invalid.ng-dirty {
  border: 1px solid red;
}

.pad-left-right {
  padding-left: 0.1rem;
}

.deleteButton {
  width: 3.4rem;
}

.buttonDiv {
  margin-top: 1.5rem;
}

.groupDiv {
  min-height: 6rem;
  border: solid thin lightgrey;
}

.dragMsg {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  color: darkgrey;
  border: 1px dashed darkgrey;
  text-align: center;
}

.flex-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
