<div class="panel panel-default col">
  <div class="panel-heading">
    <div class="row pad-left-right">
      <div class="row">
        <span class="pull-left title">Contacts</span>
      </div>
      <div class="row-input-group">
        <div class="input-group pull-left pad-left-right col-xs-7">
          <input
            type="search"
            class="form-control"
            #searchBox
            (keyup)="search(searchBox.value)"
            placeholder="Enter a search value..."
            id="search"
          />
          <div
            class="glyphicon glyphicon-search input-group-addon"
            (click)="search(searchBox.value)"
          ></div>
        </div>
        <button [routerLink]="['new']" class="btn btn-success pull-right">
          New Contact
        </button>
      </div>
    </div>
  </div>
  <div class="panel-body scrollable">
    <div class="row">
      <div class="col-xs-12">
        <div
          *ngFor="let contact of contacts | contactsFilter: term"
          cdkDrop
          cdkDropList
          [cdkDropListData]="contact"
          class="list-group-heading"
        >
          <a
            class="list-group-item clearfix pointer"
            [routerLink]="[contact._id]"
            [routerLinkActive]="['active']"
            cdkDrag
            [cdkDragData]="contact"
          >
            <cms-contact-item [contact]="contact"></cms-contact-item>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
