<div class="panel panel-default col">
  <div class="panel-heading">
    <div class="row pad-left-right">
      <span class="pull-left title">Contacts</span>
      <button [routerLink]="['new']" class="btn btn-success pull-right">
        New Contact
      </button>
    </div>
  </div>
  <div class="panel-body scrollable clear-pad-top">
    <div class="row">
      <div class="col-xs-12">
        <div
          *ngFor="let contact of contacts"
          cdkDrop
          cdkDropList
          [cdkDropListData]="contact"
          class="list-group-heading"
        >
          <a
            class="list-group-item clearfix pointer"
            [routerLink]="[contact.id]"
            [routerLinkActive]="['active']"
            cdkDrag
            [cdkDragData]="contact"
          >
            <cms-contact-item [contact]="contact"></cms-contact-item>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
