<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row pad-left-right">
      <span class="pull-left title">Contacts</span>
      <button class="btn btn-success pull-right">New Contact</button>
    </div>
  </div>
  <div class="panel-body scrollable clear-pad-top">
    <div class="row">
      <div class="col-xs-12">
        <div class="list-group-heading sticky sticky-heading">
          <span>All Contacts</span>
        </div>
        <div *ngFor="let contact of contacts">
          <cms-contact-item
            *ngIf="contact.group == null; else contactGroupMemberItem"
            [contact]="contact"
          ></cms-contact-item>
          <!-- Added template for team contact items -->
          <ng-template #contactGroupMemberItem>
            <div class="list-group-heading sticky sticky-heading team-name">
              <span>{{ contact.name }}</span>
            </div>
            <cms-contact-item
              *ngFor="let groupItem of contact.group"
              [contact]="groupItem"
            >
            </cms-contact-item>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
