/* You can add global styles to this file, and also import other style files */

[data-theme="dark"]:not([src="../assets/images/day-sun.svg"]) {
  background-color: #282626;
}

[data-theme="dark"] body,
img {
  filter: invert(95%) hue-rotate(180deg);
}

[data-theme="light"] body,
:matches([src="../assets/images/night-moon.svg"]) {
  filter: invert(15%) hue-rotate(0deg);
  background-color: #e5e9e9;
}

[data-theme="light"] img {
  filter: invert(15%) hue-rotate(0deg);
}

body,
cms-root {
  min-height: 100vh;
}

textarea {
  resize: none;
}

.todo {
  position: fixed;
  right: 1rem;
  bottom: 5rem;
  z-index: 4;
}

.todo-list {
  width: 25vw;
  min-width: 300px;
}

.pointer {
  cursor: pointer;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.label-heading {
  font-weight: bold;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
}

.pad-left-right {
  padding-left: 1rem;
  padding-right: 1rem;
}

.ma-1 {
  margin: 1rem;
}

.mr-half {
  margin-right: 0.5rem;
}

.scrollable {
  max-height: 50vh;
  overflow-x: none;
  overflow-y: scroll;
  position: relative;
}

.sticky {
  position: sticky;
  top: 0;
}

.sticky-heading {
  padding: 0.5rem;
  z-index: 3;
}

.sticky-heading + * {
  margin-top: 2rem;
}

.clear-pad-top {
  padding-top: 0;
}

.scheme-toggle {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 1rem;
  right: 1rem;
}

.btn_toggle-theme {
  padding: 0;
  max-width: fit-content;
  border-radius: 50%;
  cursor: pointer;
}

.m-reset {
  margin: 0.5rem !important;
}
